*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.hamburger-menu{
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    width: 1400px;
    background: linear-gradient(to top,#7180AC, #99edCC, #f5edf0, #FBe7b2)
    
}

header > ul > li > a, footer > ul > li > a{
    color: #f5edf0;
}

header{
    height: 5vh;
    background-color: #104547;
    width: 1400px;
    position: fixed;
    z-index: 2;
}

footer{
    height: 5vh;
    background: linear-gradient(0deg, #222, #7180AC);
    color: #f5edf0;
    align-items: center;
    
}

header > ul, footer > ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer > ul {
    padding-top: 1em;
}

header > ul > li, footer > ul > li{
    text-decoration: none;
    display: inline;
    justify-content: space-around;
}

a{
    text-decoration:none;
    border-radius: 10px;
    padding: .25em;
    color: #104547

}

a:hover{
    cursor: pointer;
    background-color: #F56960;
    color: #f5edf0;
}

#title:hover{
    cursor: pointer;
    color: #f5edf0;
    background-color: #104547;
    border: 0;
    padding: 0;
}

button > a{
    margin: 5px;
    text-align: center;
    color: #f5edf0;
    
}

button > a:hover{
    cursor: pointer; 
    color:#f5edf0;
}

/*===column or row===*/

ul{
    display: flex;
}

        /*====*/

h1{
    padding-top: 1em;
}
ul > button{
    justify-content: space-around;
}

div{
    height: 30vh;
    width: 100%;
    
    display: flex;
    align-content: center;
    justify-content: center;
}

p{
    width: 90%;
    text-align: justify;
    align-items: center;
    margin-top: 1em;
}

.mid{
    color: #104547;
    background-color: #99edCC;
    align-items: center;
    flex-direction: column;
}

.mid > ul{
    flex-wrap: wrap;
    
}

.bot > ul{
    flex-wrap: wrap;
    
}

#2{}

.top, .bot{
    background-color: #f5edf0;
    align-items: center;
    flex-direction: column;
    color: #104547;
    opacity: 97%;
}

div > ul > li{
    list-style: none;
    padding: .75em;
    flex-wrap: wrap;
    font-size: 1.1em;
}

div > ul{
    padding: 2em;
}

#carly, #goats, #library{
    height: 20em;
    width: fit-content;
    align-self: center;
    border: #6ec8f8 4px solid;
    border-radius: 200px;
    box-shadow: 5px 5px 5px #7180AC;

}

#carly{
    margin-top: 4em;
}

.midContainer{
    display: flex;
    background-color: #99edCC;
    opacity: 98.5%;
}

section{
    background-image: url(images/swirls.jpg);
}

.topContainer, .botContainer{
    display: flex;
    background-color: #f5edf0;
    background-image: url(images/trees.jpg);
    

}

/*Turns Trees On or Off on Bot Row*/
.botContainer{
    background-image: url(images/trees.jpg);
}

.botContainer > div.photo{
    background-color: #f5edf0;
    opacity: 98.5%;
}


a#title{
    color: #FBe7b2;
    font-family: 'Caveat', cursive;
    font-size: 3em;
}

a#title:hover{
    color: #f5edf0;
    border: none;
    padding: none;
}

h1{
    text-decoration: underline;
}

button{
    background-color: #7180AC;
    border: none;
    border-radius: 10px;
    width: fit-content;
    height: 3em;
    padding: 0, 3px;
    justify-content: space-between;
    box-shadow: 2px 2px 2px #222;
}

button:hover{
    background-color: #F56960;
}

/* mediaQueries 1225 x 1080*/

@media screen and (max-width: 1370px) and (max-height: 1180px) {

    #carly{
        height: 97%;
        width: fit-content;
    }
    #goats{
        height: fit-content;
        width: 97%;
        align-self: center;
        border: #6ec8f8 4px solid;
        border-radius: 200px;
        box-shadow: 5px 5px 5px #7180AC;
    
    }

    #library{
        height: fit-content;
        width: 97%;
        align-self: center;
        border: #6ec8f8 4px solid;
        border-radius: 200px;
        box-shadow: 5px 5px 5px #7180AC;
    }
    
    button{
        background-color: #7180AC;
        border: none;
        border-radius: 10px;
        width: auto;
        height: fit-content;
        padding: 0, 3px;
        align-items: center;
        box-shadow: 2px 2px 2px #222;
    }

    div{
        height: 340px;
        width: 100%;
        
        display: flex;
        align-content: center;
        justify-content: center;
    }

    header, footer{
        height: fit-content;
    }

    
}

@media screen and (max-width: 715px) and (max-height: 830px) {
    div.photo{
        display: none
    }

    div, header, footer{
        height: fit-content;
        width: 715px;
        align-items: center;
    }

    p{
        width:50%;
        padding-top: 2px;
    }

    h1{
        padding-top: 10px;
    }
    
}

@media screen and (max-width: 450px) and (max-height: 920px) {
    div.photo{
        display: none
    }

    div, header, footer{
        height: fit-content;
        width: 515px;
        align-items: center;
    }

    p{
        width:50%;
        padding-top: 2px;
    }

    h1{
        padding-top: 10px;
    }
}

@media screen and (max-width: 620px) and (max-height: 900px) {
    p{
        margin-top: 2px;
    }

    h1{
        margin-top: 10px;
    }

    div.photo{
        display: none;
    }
}

@media screen and (max-width: 1370px){
    #goats{
        height: 90%;
        width: fit-content;
    }

    h1{
        padding-top: 1em;
    }

    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        top: 28px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #F56960;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        opacity: 95%;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #F56960;
      }
      
      header > ul > li{
        display: none;
      }

      .hamburger-menu{
        display: inline;
      }
}


    
